html {
    /* px 表示 “像素（pixels）”: 基础字号为 10 像素 */
    font-size: 10px; 
    /* Google fonts 输出的 CSS */
    font-family: 'Roboto', sans-serif;
    background-color: #3f87ed;
  }

h1 {
  margin: 0;
  padding: 20px 0;    
  color: #3f87ed;
  font-size: 50px;
  text-align: center;
  text-shadow: 3px 3px 1px black;
}

img{
    display: block;
    margin: 0 auto;
}

p, li {
    font-size: 16px;    
    line-height: 2;
    letter-spacing: 1px;
}

#hint{
  font-size: 10px;
  color: #164e9e;
  text-align: center;
}

body {
    width: 600px;
    background-color: #FF9500;
    border: 5px solid black;
    margin: 0 auto;
    padding: 0 20px 50px 20px;
  }