html {
  /* px 表示 “像素（pixels）”: 基础字号为 10 像素 */
  font-size: 20px; /* 对桌面端20px较为合适，对移动端5px较为合适
  /* Google fonts 输出的 CSS */
  font-family: 'Roboto', sans-serif;
  /* background-color: #3f87ed; */
}

h1 {
margin: 0;
padding: 2rem 0;
color: #3f87ed;
font-size: 8rem;
text-align: center;
text-shadow: 3px 3px 1px black;
}

body img{
  display: block;
  margin: 0 auto;
  width:30%;
  /* width: 90%; */
}

p, ol {
  font-size: 2rem;
  line-height: 2;
  letter-spacing: 1px;
}

#hint{
font-size: 1rem;
color: #164e9e;
text-align: center;
}

body {
  background-color: #FF9500;
  font-size:62.5%;
}

div div.show{
width: 33%;
float: left;
}

div div.show img{
  width:90%;
}

img#jokesImg{
padding-top: 4rem;
padding-bottom: 8rem;
}

img#ballImg{
padding-top:3rem;
padding-bottom:3rem;
}

p.project-name{
font-size: 3rem;
text-align: center;
}

ul{
font-size: 2rem;
margin: 0 4px;
}

