@charset "UTF-8";
html {
  /* 发布到github上的网页要与在本地浏览器显示的一致，本地浏览器显示比例要缩放到25% */
  font-family: 'Roboto', sans-serif;
  /* background-color: #3f87ed; */
}

h1 {
  margin: 0;
  padding: 2rem 0;
  color: #3f87ed;
  font-size: 6rem;
  text-align: center;
  text-shadow: 3px 3px 1px black;
  }
  
body img {
  display: block;
  margin: 0 auto;
  width:20%;
  /* width: 90%; */
}

p, 
ol {
  font-size: 2rem;
  line-height: 2;
  letter-spacing: 1px;
}

#hint{
font-size: 1rem;
color: #164e9e;
text-align: center;
}

body {
  background-color: #FF9500;
  font-size:62.5%;
}

div.show {
width: 33%;
float: left;
}

div.show img {
  width:50%;
}

#jokesImg {
  padding-top: 4rem;
  padding-bottom: 8rem;
}

#ballImg {
  padding-top:3rem;
  padding-bottom:3rem;
}

p.project-name {
  font-size: 3rem;
  text-align: center;
}

ul {
  font-size: 2rem;
  margin: 0 4px;
}
  
