@charset "UTF-8";
html {
  /* 发布到github上的网页要与在本地浏览器显示的一致，本地浏览器显示比例要缩放到25% */
  font-family: 'Roboto', sans-serif;
  font-size: 0.5rem;
  /* background-color: #3f87ed; */
}

h1 {
  margin: 0;
  /* rem：相对于html根元素的字体大小， 1rem默认为16px */
  padding: 2rem 0;
  color: #3f87ed;
  font-size: 6rem;
  text-align: center;
  text-shadow: 3px 3px 1px black;
}
  
#HomeImg {
  display: block;
  margin: 0 auto;
  width: 20%;
  /* width: 90%; */
}
  
p, 
ol {
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 1px;
  margin: 4px auto;
}
  
#hint {
  font-size: 2rem;
  color: #164e9e;
  text-align: center;
}
  
body {
  background-color: #FF9500;
}

.project {
  /* 浮动布局 */
  float:left; 
  width: 33%;
}

.img-div {
  display:table-cell;
  vertical-align: middle;
  text-align: center;
  height: 30rem;
}

.img-div img {
  max-width: 50%;
}

a .project-name{
  font-size: 3rem;
  text-align: center;
  margin: 4px auto;
}

ul{
  font-size: 2rem;
  margin: 0 4px;
}
  
